$color-black: #000000;
$color-light-green: #2A3A34;
$color-green: #112025;
$color-dark-green: #0D191D;
$color-light-sky-green: #263236;
$color-sky-green: #102930;
$color-yellow: #FBDD8B; 
$color-dark-yellow: #7C5B24;
$color-brown: #523D1D;
$color-dark-brown: #462A1E;
$color-light-grey: #E4E5E7;
$color-grey: #DCDCDE;
$color-light-blue: #92B4D9;